$normal-text-color: #111;
$nav-link-color: #333;
$nav-link-hover-color: black;
$link-color: #444;
$last-p-padd: 1.5em;
$nav-padd: 1em;

body {
  color: $normal-text-color;
  font-family: arial;
  font-size: 14px;
  padding: 15px;
  margin: auto;
  max-width: 600px;
}
h1 {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: $link-color;
}

nav {
  padding: $nav-padd 0px;
  margin: 0px;
}
nav > a:first-of-type {
  padding-left: 0;
}
nav > a {
  padding: 1em;
  color: $nav-link-color;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
}
nav > a.on-page {
  color: #888;
}
nav > a:hover {
  text-decoration: underline; 
}

#main-img {
  width: 100%;
}
p {
  padding: .5em 0;
  line-height: 1.4em;
}
p.line-under {
  padding-bottom: $last-p-padd;
  border-bottom: 1px solid #aaa;
}

@media screen and (max-width: 600px){
  body {
    width: 95%;
  }
  #info {
    margin: 0 7px;
  }
}
