$normal-text-color: #444444;
$nav-link-color: #333;
$nav-link-hover-color: black;
$link-color: #47a;
$visited-link-color: #941452;

$last-p-padd: 1.5em;
$nav-padd: 1em;
$line-under: 1px solid #aaa; 

body {
  background-color: #fefefe;
  padding: 15px;
  font-family: -apple-system, helvetica, arial, sans-serif;
}
#wrapper {
  max-width: 800px;
  margin: auto;
  color: $normal-text-color;
  font-size: 14px;
}
#main-name {
  color: rgba(0, 0, 0, 0.8);
}

li {
  line-height: 1.5em;
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 17px;
}
a {
  text-decoration: underline;
  color: $link-color;
}  
a:visited {
  color: $visited-link-color;
}
a.nav-link,
a.post-title-link {
  color: $nav-link-color;
  text-decoration: none;
}
a.citation-link {
  text-decoration: none;
}

#img-wrapper img {
  margin-bottom: 10px;
}

#img-wrapper label {
  margin-left: 10px;
}

label {
  font-size: 12px;
}

#menu,
label[for="menu"]{
  display: none;
}

nav {
  padding: $nav-padd 0px;
  margin: 0px;
}
nav a:first-of-type {
  margin-left: 0;
}
nav a {
  margin: 1em;
  color: $nav-link-color;
  font-weight: bold;
  font-style: none;
}
/* TODO: Does not work */
.on-page {
  color: #000;
}
nav a:hover {
  text-decoration: underline; 
}

li {
  margin: .5em;
}

#main-img {
  width: 100%;
}
p {
  font-size: 15px;
  line-height: 1.5;
  padding: .1em 0;
}
.line-under {
  padding-bottom: $last-p-padd;
  border-bottom: $line-under;
}
.article a:hover {
  color: rgba(0, 0, 0, 0.5);
}

table,
table tr,
table td,
table th{
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
  padding: 5px;
  font-weight: normal;
}
table th {
  font-weight: bold;
}
table {
  width: 75%;
  margin: auto;
}

table.post-list,
table.post-list tr,
table.post-list td {
  width: 100%;
  border: none;
  padding-left: 0;
}
img {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-style: italic;
}

@media screen and (max-width: 600px){
  #menu,
  label[for="menu"]{
    display: inline-block;
    font-size: 20px;
  }
  body {
    width: 90%;
  }
  #info {
    margin: 0 7px;
  }
  .menu-content {
    max-height: 0;
    overflow: hidden;
  }
  nav {
    width: 100%;
  }
  nav a {
    display: block;
    padding-left: 0;
    margin-left: 0;
  }
  input#menu{
    display: none;
  }
  input:checked ~ .menu-content {
    max-height: 100%;
    border-bottom: $line-under;
    color: red;
  }
}

.contact-info {
  width: 90%;
  margin: auto;
  word-wrap: break-word;
}
.contact-info p {
  margin: 7px;
  padding: 0;
}

.mono {
  font-family: monospace;
}

.bold {
  font-weight: bold;
}

sup {
  margin: 0;
  padding: 0;
}

figcaption {
  margin-top: 10px;
  font-size: .8em;
  text-decoration: italic;
}

footer {
  border-top: $line-under; 
  margin-bottom: 100px;
}

.terminal {
  line-height: 1em;
  overflow: scroll;
  padding: 10px; 
  color: #00FF41;
  margin: 0px;
  background-color: #151515;
}

.small-image {
  width: 100%;
}

.post-date {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.post-desc {
  color: rgba(0, 0, 0, .7);
  padding: 10px;
  font-weight: lighter;
}

p.post-excerpt {
  margin-top: 0;
  padding-top: 10px;
}


